lightning>=2.5.0
hydra-core
tensorboardX
rootutils
h5py
torchmetrics
pre-commit
rich
pytest
numpy<2.0.0
trimesh
roma
open3d
einops
gradio
matplotlib
tqdm
opencv-python
viser
pillow_heif
scipy
huggingface-hub[torch]==0.23.5
ninja
jaxtyping
lpips 
colorspacious
moviepy==1.0.3
plyfile
pycolmap
tyro
gsplat
pytorch_msssim
nerfview==0.0.2
tensorboard
pypose
tensorly
transformers==4.38.0
diffusers==0.26.0
accelerate
peft==0.9.0
git+https://github.com/facebookresearch/pytorch3d.git
kornia
open-clip-torch==2.17.1
colorama
splines
av
gradio==6.2.0
fire
evo
pyglet==1.5.31
cython
icecream
e3nn
future
consoleprinter